/* src/components/SearchBar.css */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center; /* Alinea horizontalmente al centro */
    width: 400px; /* Ancho fijo de 300px */
    margin: 0 auto; /* Centra horizontalmente el elemento */
    padding: 10px 30px;
    background-color: #1F487E;
    border: 1px solid  #1F487E;
    border-radius: 5px;
    box-shadow: 0 2px 4px #9CD7EB;
  }
  
  .search-bar input {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .search-bar button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #9CD7EB;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }